.details {
    padding: 1rem;
    width: 30rem;
  }
  
  .author {
    font-size: 0.8rem;
    font-weight: bold;
    color: #543280;
    margin: 0;
    text-transform: uppercase;
  }
  
  .text {
    white-space: pre-wrap;
    font-size: 1.25rem;
    margin: 0.25rem 0 0 0;
    color: #593884;
    font-style: italic;
  }
  
  .details a {
    text-decoration: none;
  }

  .btn{
    align-items: center;
    background: none;
    border: 1px solid lighten(gray, 24%);
    height: 24px;
    padding: 0 24px 0 16px;
    letter-spacing: .25px;
    border-radius: 24px;
    cursor: pointer;
    
  }